body {
    background-image: url("img/test1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.login-preview {
    width: 80%;
    height: 60%;
    background: slategray;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 45%;
    right: 45%;
}

.login-preview p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-preview input {
    width: 100%;
    margin-bottom: 25px;
}

.login-preview input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: solid black 2px;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 70%;
}

.login-preview input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.login-preview input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: white;
}

.login-header {
    left: 50%;
    margin-bottom: 10;
    padding-bottom: 10;
    font-size: 22px;
}

.login-preview a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: white;
}